# ENV
.env
.env.*

# Node modules
node_modules/

# Build
dist/
build/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Coverage
coverage/

# Keys
*.pem
*.key